#explanation 
{
    display: none;
    color: teal;
}

h1
{
    text-align: center;
}

#whatsIt
{
    text-align: center;
    color: grey;
}

#personsList
{
    list-style: none;
    color: teal;
    font-weight: bold;
}

#quotes
{
    border-style: double;
    border-radius: 3px;
    padding: 15px;
    background-attachment: inherit;
    background-image: url(ring-4612457_1920.jpg);
    display:none;
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: hsla(0,0%,100%,0.65);
    background-blend-mode: overlay;
    background-repeat: repeat-y;
}

#quotesList
{
    color: black;
    list-style-type: circle;
}

input[type=button]
{
   border-radius: 5px; 
   border: none;
   padding: 3px;
   background-color: teal;
   color: whitesmoke;
   margin: 5px;
}

input[type=text]
{
    border-color: teal;
    border-radius: 3px;
    margin: 5px;
}

#oneRing
{
    color: firebrick;
    text-align: center;
}

#ringInscript
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
}

#question
{
    text-align: center;
}



